.collapse-container {
  border: solid black 2px;
  padding: 10px;
  margin: 15px 0;
}

.collapse-body {
  padding: 5px 0;
}

.collapse-indicator {
  float: right;
  margin: 0 20px;
}

.collapsed {
  display: none;
}
